<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Mi Web de noticias</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/lightbox.css">

    </head>
    <body>
        <header class="_index_header">
            <h1>Noticias y Móviles</h1>
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navegación</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Índice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Galería</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./presupuesto.html">Presupuesto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- GALERIA DINAMICA USANDO JAVASCRIPT, JQUERY O LA LIBRERIA QUE SEA -->
        <main class="_main">
            <section class="_cajagris">
                <div class="_movil"><a href="../media/images/dynamic/galaxy_s21.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/galaxy_s21.jpg" width="1200" height="1200" alt="galaxy s21"></a>
                <p>Galaxy S21</p></div>
                <div class="_movil"><a href="../media/images/dynamic/galaxy_s23.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/galaxy_s23.jpg" width="1200" height="1200" alt="galaxy s23"></a><p>Galaxy S23</p></div>
                <div class="_movil"><a href="../media/images/dynamic/google_pixel8.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/google_pixel8.jpg" alt="pixel 8"></a><p>Google Pixel 8</p></div>
                <div class="_movil"><a href="../media/images/dynamic/google_pixel9.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/google_pixel9.jpg" alt="pixel 9"></a><p>Google Pixel 9</p></div>
                <div class="_movil"><a href="../media/images/dynamic/iphone_se.png" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/iphone_se.png" alt="iphone se"></a><p>Iphone SE</p></div>
                <div class="_movil"><a href="../media/images/dynamic/motorola_edge_50.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/motorola_edge_50.jpg" alt="edge 50"></a><p>Motorola Edge 50</p></div>
                <div class="_movil"><a href="../media/images/dynamic/realme_gt2.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/realme_gt2.jpg" alt="realme gt2"></a><p>Realme GT2</p></div>
                <div class="_movil"><a href="../media/images/dynamic/xiaomi_13t.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/xiaomi_13t.jpg" alt="xiaomi 13t"></a><p>Xiaomi 13T</p></div>
                <div class="_movil"><a href="../media/images/dynamic/xiaomi_redmi_note_12.jpg" data-lightbox="set"><img class="_imagen" src="../media/images/dynamic/xiaomi_redmi_note_12.jpg" alt="xiaomi redmi"></a><p>Xiaomi Redmi Note 12</p></div>
            </section>
        </main>

        <!-- footer -->
        <footer class="main_footer">

            <div class="container">
                <div class="footer_text">@ 2025 Noticias y móviles | Calle Alonso Cano 44 | Todos los derechos reservados</div>
                <div class="footer_links">

                    <!-- a estos links les he puesto un transition de color como a los elementos del navbar  -->
                    <ul class="simple_list">
                        <li><a class="_link" href="../media/pdf/politicaPrivacidadDatos.pdf" target="_blank">Política de privacidad</a></li>
                        <li><a class="_link" href="../media/pdf/avisolegal.pdf" target="_blank">Aviso legal</a></li>
                    </ul>
                    <ul class="simple_list">
                        <li><a href="#"><img src="../media/images/rrss/facebook.png" alt="facebook logo"></a></li>
                        <li><a href="#"><img src="../media/images/rrss/insta.png" alt="instagram logo"></a></li>
                        <li><a href="#"><img src="../media/images/rrss/whatsapp.png" alt="whatsapp logo"></a></li>
                        <li><a href="#"><img src="../media/images/rrss/x.png" alt="x logo"></a></li>
                        <li><a href="#"><img src="../media/images/rrss/youtube.png" alt="youtube logo"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="../scripts/lightbox-plus-jquery.js"></script>
    </body>
</html>